<div class="header bg-primary">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">

            <div class="container-fluid">
                <!-- Links -->
                <a class="navbar-brand" href="/">Logo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Trang chủ</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown">Danh
                                mục</a>
                            <ul class="dropdown-menu">
                                <% categories.forEach(category=> { %>
                                    <li>
                                        <a class="dropdown-item"
                                            href="/category/<%- category.slug %>/<%- category._id %>">
                                            <%- category.name %>
                                        </a>
                                    </li>
                                    <% }); %>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Về chúng tôi</a>
                        </li>
                    </ul>
                    <form class="w-50 ms-auto position-relative">
                        <input class="form-control me-2" type="text" placeholder="Search">
                        <button
                            class="position-absolute top-50 end-0 translate-middle-y bg-transparent border-0 me-1"><img
                                src="https://img.icons8.com/ios-glyphs/30/000000/search--v1.png" /></button>
                    </form>
                    <% if(user) { %>
                        <div class="dropdown ms-auto">
                            <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown">
                                <%- user.username %>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="user/logout">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>


                        <% }else{ %>

                            <a href="javascript:void(0)" class="nav-link ms-auto" data-bs-toggle="modal"
                                data-bs-target="#loginModal">Login</a>

                            <% } %>

                                <a class="ms-3 position-relative" href="/cart">
                                    <span
                                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                        <% if(cart){ %>
                                            <%- JSON.parse(cart).length %>
                                                <% } else { %>
                                                    0
                                                    <% } %>
                                    </span>
                                    <img src="https://img.icons8.com/ios-glyphs/24/FFFFFF/shopping-cart--v1.png" />
                                </a>
                </div>
            </div>
        </nav>
    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Email or username</label>
                            <input type="text" class="form-control" id="login-username" placeholder="Email or username">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="login-password" placeholder="Password">
                        </div>
                        <button class="btn btn-primary" id="user-login">Login</button>
                        <button class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#registerModal">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Register</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="register-email" placeholder="Email">
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="register-username" placeholder="username">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="register-password" placeholder="Password">
                        </div>
                        <button class="btn btn-primary" id="user-register">Register</button>
                        <button class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#loginModal">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>