<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>

    <div class="wrapper">

        <div>
            <%- include('partials/header') %>
        </div>

        <main class="content container mt-2">
            <h4>Giỏ hàng</h4>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-8">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 30%;">Tên</th>
                                <th scope="col">Ảnh</th>
                                <th scope="col">Giá</th>
                                <th scope="col" style="min-width: 15%;">Số lượng</th>
                                <th scope="col">Tổng</th>
                                <th scope="col">
                                    <img
                                        src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/24/000000/external-setting-essentials-pack-tanah-basah-glyph-tanah-basah.png" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let total=0; prodCart.forEach(prod=> { %>
                                <tr>
                                    <td>
                                        <%- prod.name %>
                                    </td>
                                    <td>
                                        <img src="<%- prod.thumb %>" width="100">
                                    </td>
                                    <td>
                                        <%- new Intl.NumberFormat('vi-VN', { style: 'currency' , currency: 'VND'
                                            }).format(prod.low) %>
                                    </td>
                                    <td>
                                        <input type="number" value="<%- prod.quantity %>" min="1"
                                            data-id="<%- prod.id %>" class="form-control cartProdQuan">
                                    </td>
                                    <td class="total">
                                        <%- new Intl.NumberFormat('vi-VN', { style: 'currency' , currency: 'VND'
                                            }).format(parseInt(prod.low)*prod.quantity) %>
                                    </td>
                                    <td>
                                        <a href="javascript:void(0)" class="btn btn-danger delete-cart"
                                            data-id="<%- prod.id %>">
                                            <img src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png" />
                                        </a>
                                    </td>
                                </tr>
                                <% total=total + parseInt(prod.low)*prod.quantity; }) %>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="bg-light p-2">
                        <h3 class="text-center">Thanh toán</h3>
                        <div class="mt-2">
                            <label for="" style="line-height: 30px;">Họ và tên:</label>
                            <input type="text" id="payment-name" class="form-control">
                        </div>
                        <div class="d-flex mt-2">
                            <label for="" style="line-height: 30px;">Email:</label>
                            <input type="text" id="payment-email" class="form-control ms-2">
                        </div>
                        <div class="mt-2">
                            <label for="">Số Điện Thoại:</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">+84</span>
                                <input type="text" class="form-control" id="payment-phone"
                                    aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="mt-2">
                            <label for="">Địa chỉ nhận hàng:</label>
                            <select class="form-select mb-2" id="select-ttp">
                                <option>Tỉnh / Thành phố</option>
                            </select>
                            <select class="form-select mb-2" id="select-qh">
                                <option>Quận / Huyện</option>
                            </select>
                            <input type="text" id="payment-address" class="form-control" placeholder="Số nhà">
                        </div>

                        <div class="mt-2">
                            <h4>
                                Tổng tiền:
                                <span id="payment-total" data-total="<%- total %>">
                                    <%- new Intl.NumberFormat('vi-VN', { style: 'currency' , currency: 'VND'
                                        }).format(total) %>
                                </span>
                            </h4>
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-success" id="btn-payment">Thanh toán</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</body>

</html>